# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\henry\Desktop\BCIT Documents\BCIT Term 3\Comp3522-Object Oriented Programming 2\assignment3_a01212982_a01195951\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
